.sidebar-enter {
  transform: translateX(-100%);
}

.sidebar-enter.sidebar-enter-active {
  transform: translateX(0);
  transition: transform 300ms;
  transition-timing-function: ease-out;
}

.sidebar-exit {
  opacity: 1;
  transform: translateX(0);
}

.sidebar-exit.sidebar-exit-active {
  transform: translateX(-100%);
  transition: transform 300ms;
  transition-timing-function: ease-in;
}
